<div class="node">
	<h3 class="name">Nodo #<%= node.id %></h3>
	<p class="address"><strong>Dirección:</strong> <%= node.address.to_s %></p>
	<p class="description"><strong>Descripción:</strong> <%= node.description %></p>
	<% node.sensors.each do |sensor| %>
		<%= render sensor %>
	<% end %>
</div>