<div class="fixed-action-btn toolbar">
  <a class="btn-floating btn-large blue">
    <i class="large material-icons">settings</i>
  </a>
  <ul>
    <li class="waves-effect waves-light"><%= link_to admin_nodes_path do %><i class="material-icons">donut_small</i><% end %></li>
		<li class="waves-effect waves-light"><%= link_to admin_sensors_path do %><i class="material-icons">satellite</i><% end %></li>
    <li class="waves-effect waves-light"><%= link_to admin_packages_path do %><i class="material-icons">account_balance_wallet</i><% end %></li>
  </ul>
</div>